body{
    text-align: center;
}

#header{
    height: 120px;
    width: 100%;
    background: width;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #6664ff
}

.center{
    width: 75%;
    margin: 0px auto;
}

#logo{
    width:30%;
    font-size: 30px;
    float: left;
}

#logo img{
    display: block;
    float:left;
    height: 60px;
}

#brand{
    display:block;
    margin: 0px;
    float:left;
}